[2013-10-30 21:53] rafaelfranca opened #1 "Configurations are not being respected"
Looking at the code I think none of the configurations of the `WhiteListSanitizer` are being used.

I'm missing something?

[2013-10-30 21:54] rafaelfranca opened #2 "Document the sanitizers classes"
We need to document the classes

[2013-10-30 21:54] rafaelfranca opened #4 "Fix the skipped tests"
### Related:

Unrecognized xml namespace issue: https://github.com/sparklemotion/nokogiri/pull/962
`<<` and `<<<bad html` discussion: https://github.com/sparklemotion/nokogiri/pull/963

[2013-10-31 09:03] kaspth opened #5 "sanitize doesn't use sanitize_css for style tags"
From [`SanitizeHelper`](https://github.com/rails/rails/blob/master/actionview/lib/action_view/helpers/sanitize_helper.rb#L63) about `sanitize_css`:

[code]

`sanitize` never uses `sanitize_css`.

I haven't checked if there are any tests for this. I.e. using `sanitize` with some html with a style attribute.

[2013-10-31 10:52] #5 closed, assigned to nobody

[2013-11-01 22:24] kaspth opened #7 "href added to LinkSanitizers tags"
href should probably be passed an attribute option.
But the underlying question -  Should the `LinkSanitizer` remove href attributes?

[code]

https://github.com/rafaelfranca/rails-html-sanitizer/blob/master/lib/rails/html/sanitizer.rb#L38

[2013-11-03 12:28] #2 closed, assigned to nobody

[2013-11-22 21:21] kaspth opened #10 "Test value closer to expected. Should we care about the difference?"
From the test here: https://github.com/rafaelfranca/rails-html-sanitizer/blob/1c6d0959c213ea2495d1c3cc3a9c7816cf512783/test/sanitizer_test.rb#L289
Before: `"<img>alert(\"XSS\")\"&gt;"`
After: `"<img>\"&gt;"`

The new value is closer to the expected `"<img>"`.
Is it close enough, that we change the expected value?

//@rafaelfranca

[2014-01-30 08:10] #7 closed, assigned to nobody

[2014-02-10 09:53] #1 closed, assigned to nobody

[2014-03-14 18:41] #10 closed, assigned to nobody

[2014-03-19 15:43] kaspth opened #16 "CDATA contents could be left behind"
I was going through tests and changing expected values when I came across this one:

[code]

If we change the expected value to the one in the actual comment, would that leave us open to people having contents of a CDATA left behind?
And is that a potential security hole?

https://github.com/rafaelfranca/rails-html-sanitizer/blob/master/test/sanitizer_test.rb#L465-L471

[2014-04-15 21:07] #16 closed, assigned to nobody

[2014-04-28 19:09] arthurnn opened #19 "Add travis integration"

[2014-05-05 18:44] #19 closed, assigned to nobody

[2014-05-20 15:38] #4 closed, assigned to nobody

[2014-10-28 19:36] johnpray opened #25 "Defining the Rails module prevents non-Rails use alongside libraries that check for that module (like ActiveRecord)"
Some libraries use the conditional `if defined?(Rails)` to determine if the running app is a Rails one. If it finds the module exists, such libraries then go on to assume that methods like `Rails.env` are available.

The most prominent example we've seen is ActiveRecord, which uses the check in mutliple places. [For example](https://github.com/rails/rails/blob/08754f12e65a9ec79633a605e986d0f1ffa4b

[2014-10-28 21:22] #25 closed, assigned to nobody

[2014-12-22 18:04] betesh opened #26 "This gem breaks ActionMailer + ActionView + ActiveRecord - Rails projects"
I have a project that uses ActiveRecord and ActionView (for ActionMailer templates) without Rails.

At https://github.com/rails/rails/blob/v4.2.0/activerecord/lib/active_record/connection_handling.rb#L3, ActiveRecord makes a (reasonable) assumption that if Rails is defined, Rails responds to `env`.  This gem violates that contract in https://github.com/rails/rails-html-sanitizer/blob/v1.0.1/lib/ra

[2015-01-02 03:38] rafaelfranca commented on #26
It is also a peperclip bug. Of course a lot of gems will have to adapt their code but I don't see any reason to us avoid to use the Rails namespace as we did at this gem.

[2015-01-02 03:47] rafaelfranca commented on #26
Closing since https://github.com/rails/rails/commit/595f7b0f323184b1ac8725c1bb7230a1a9d1800f fixed it.

[2015-01-02 03:47] #26 closed

[2015-01-02 17:34] betesh commented on #26
@rafaelfranca As for the README, how do you feel about changing it to "Rails Html Sanitizer is only intended fox use with ActionView, a component of Ruby-on-Rails"?  Is there a more precise word than component?

[2015-01-07 18:52] amatriain opened #27 "Unexpected WhiteListSanitizer behavior when allowed_attributes is set"
When sanitizing strings with WhiteListSanitizer, if neither ```allowed_attributes``` nor ```allowed_tags``` are set:
- all HTML comments are removed
- all ```<script>``` and  ```<form>``` tags are removed, including their contents

[code]

However if allowed_attributes is set:
- HTML comments are still removed
- ```<script>``` tags are stripped, but their content remains in the document
-  ```<for

[2015-01-08 08:56] mattt416 opened #28 "Issue w/ upgrade to rails 4.2.0"
Apologies if I'm reporting this in the wrong place, or if I'm doing something incorrectly, but I noticed the following changed behaviour upon upgrading to rails 4.2.0.  If I put this in an ERB template:

[code]

... and then view page source, I see:

[code]

If I add `rails-deprecated_sanitizer` to my Gemfile and try again, I see:

[code]

Please let me know if I can provide any further informatio

[2015-01-12 11:38] amatriain commented on #27
Added PR to get the ball rolling.

[2015-01-12 15:12] kaspth commented on #27
Sorry about the slow response and thanks for the PR.

I'm okay with removing the tags if `allowed_tags` is not set. But if they're set, the allowed tags are only those that a user supplied.

[2015-01-12 15:32] kaspth commented on #28
The internal parsing is done by Nokogiri, so the version affect your results.

Here's a test using Nokogiri 1.6.5, the code is equivalent to `strip_tags`:
[code]

What Nokogiri version are you using?

[2015-01-12 15:32] kaspth commented on #28
Oh, and thanks for filing :heart:

[2015-01-12 16:47] mattt416 commented on #28
Hi @kaspth,

I can't seem to replicate this via the console with `rails-deprecated_sanitizer` commented in my Gemfile:

[code]

According to my Gemfile.lock, I am using nokogiri 1.6.5.

--Matt

[2015-01-12 16:49] kaspth commented on #28
Ok, try leaving your bundle of it for now. Can you try requiring Rails Html Sanitizer in irb and then running the code?

[2015-01-15 08:14] mattt416 commented on #28
Hi @kaspth,

Apologies for the delay.  I just spun up a new Ubuntu 14.10 VM and installed ruby (2.1.2p95), rails 4.2.0 (which pulled in nokogiri 1.6.5 somewhere along the way), etc. to rule out my local environment being the cause here.  Unfortunately, I still see the same thing when popping into irb and doing `require 'rails-html-sanitizer'`, but when I create a generic view w/ `<%= strip_tags('&

[2015-01-15 08:18] kaspth commented on #28
Hold on a second, when you're viewing page source you see it escaped, but what does it look like when you view it on the page?

Signs like '&' should be escaped, be '&amp;', in the source code.

--
Kasper

[2015-01-15 08:34] mattt416 commented on #28
Hi @kaspth,

If I drop this into a template:

```<p>This is a test <%= strip_tags('&') %></p>```

I see this in the page source:

```<p>This is a test &amp;amp;</p>```

... and this on the page itself:

```This is a test &amp;```

Hope that helps.  :)

--Matt

[2015-01-15 08:48] kaspth commented on #28
Does the double escaping happen on the Linux machine you set up as well?

--
Kasper

[2015-01-15 09:21] mattt416 commented on #28
Hi @kaspth,

I see the same behaviour on all.  When I reported this bug I was seeing this issue on my dev laptop (Mac OS X) and production (Ubuntu) both running ruby 1.9.3.  I then created a test Ubuntu VM (ruby 2.1.2) and created a dummy rails app to eliminate it being something in my app itself.  The issue appears the same across all three.

--Matt

[2015-02-03 01:11] kindjar opened #30 "Encoding errors on ASCII-8BIT strings (eg: any string from the mysql adapter)"
The sanitizer seems to have issues when its input is a string in `ASCII-8BIT` encoding:

[code]

While `ASCII-8BIT` isn't the default encoding these days, it seems that strings coming from the `mysql` adapter (but not the `mysql2` adapter) are **always** in `ASCII-8BIT` encoding, even when the table is using charset `utf8`:

[code]

This means that using the sanitizer on any string from the databa

[2015-02-03 08:10] mtarnovan commented on #28
A bit off-topic, but why does `strip_tags` convert special chars to html entities - `&` to `&amp;`, quotes to `&quot;` etc? This is not the documented behaviour, which just states:

[2015-02-03 09:40] kommen commented on #28
@mtarnovan this is what https://github.com/rails/rails/issues/18527 was about, which got closed as a duplicate of this. I've noted there what I use a workaround for now.

[2015-02-03 10:00] mtarnovan commented on #28
@kommen Thanks. If I understood the issues correctly they don't seem to be duplicates.

[2015-02-16 15:50] lacco commented on #28
Not sure if this refers to @mtarnovan  or @mattt416 problem, but ```strip_tags``` is calling ```loofag```'s ```text``` method which encodes special chars by default:

[code]

Is this something that should be added to https://github.com/rails/rails-html-sanitizer/blob/master/lib/rails/html/sanitizer.rb#L25 ? Not sure about security implications....

[2015-02-18 08:11] ncri commented on #30
+1 Our app broke completely ;-)

[2015-02-18 08:15] ncri commented on #30
Was able to hack this adding .force_encoding('utf-8') to strings passed into the sanitizer.

[2015-02-18 08:19] ncri commented on #30
This patch fixes it globally:

[code]

But there might be unintended side effects. ;-)

[2015-02-18 20:05] madmax opened #31 "sanitize without encode special chars"
Currently when we santize (using rails strip_tags helper for example) text it encode \r chars. For example

    ActionController::Base.helpers.strip_tags("test\r\n\r\ntest") #=> "test&#13;\n&#13;\ntest"

We should pass encode_special_chars: false to Loofah.fragment.text method to avoid it.

    Loofah.fragment("test\r\n\r\ntest").text(encode_special_chars: false) #=> "test\r\n\r\ntest"

Having tex

[2015-02-24 11:37] kaspth commented on #30
@kindjar Thanks for reporting this and sorry it took so long to look into it :heart:

Can either you and or @ncri confirm that #33 fixes your issues?

[2015-02-24 11:58] kaspth commented on #28
We're closer to a solution on #31, so I'll close this in favor of that. Thanks for your help and sorry it took so long :heart:

[2015-02-24 18:38] kindjar commented on #30
@kaspth Yes #33 does fix the issue I was seeing, and since my data was actually UTF-8 already (it's just that the mysql database adapter tags it wrong), everything is cool.

Forcing ASCII-8BIT (which is just a label for a collection of different character encodings) to be interpreted as UTF-8 could cause problems for people whose data is in some non-UTF-8-compatible encoding (like, say, Windows-12

[2015-02-24 18:42] kaspth commented on #30
Thanks for trying it out. I'll look into writing something about the `mysql` gem.

[2015-02-24 18:43] kaspth commented on #30
By the way, when you say release notes are you talking about Rails' 4.2 ones?

[2015-02-24 18:50] kindjar commented on #30
I think most people will hit the issue when updating Rails, rather than specifically updating rails-html-sanitizer, so a mention in the Rails release notes would get the attention of the most affected people, I think.

[2015-02-24 18:54] kaspth commented on #30
:+1:, just saying release notes was ambiguous :)

[2015-02-24 20:17] mattt416 commented on #28
thanks @kaspth!

[2015-02-24 20:20] kaspth commented on #30
@kindjar do you have a link to verify?

As far as I can tell `ASCII-8BIT` is Ruby-speak for binary:

[code]

[2015-02-24 22:28] kindjar commented on #30
In `Windows 1252`, the Euro sign is `x80` ([Windows 1252 in Wikipedia](http://en.wikipedia.org/wiki/Windows-1252)). If you had a database using that encoding (such as `latin1` in MySQL), and you were using the `mysql` gem, then it would come out of the database with the generic encoding `ASCII-8BIT`. If you then force `UTF-8` encoding on that string, the byte sequence is invalid `UTF-8` (in `UTF-8

[2015-02-25 13:36] ncri commented on #30
#33 fixes our issue too

[2015-03-01 10:14] kaspth commented on #30
@kindjar thanks for the detailed explanation. I think you're right that just warning about the `mysql` gem is the best approach.

[2015-03-02 09:02] mahemoff commented on #28
Just to be clear, does #31 fix ampersand encoding? It seems to from the description, but the problem is stated only in terms of newlines.

[2015-03-02 09:06] lacco commented on #28
As far as I see #31 is still open. But as soon as ```encode_special_chars: false``` is used internally, it will also fix ampersand encoding, at least it did work for me.

[2015-03-04 22:05] #31 closed

[2015-03-06 23:31] #30 closed

[2015-03-30 07:25] siddhartham opened #37 "Sanitize removes negative value in style"
Sanitize removes a style like "margin:-4px".
This test fails
[code]

[2015-03-31 06:47] siddhartham commented on #37
The problem is in loofah. added a fix there and sent a pull request
https://github.com/flavorjones/loofah/pull/85

[2015-03-31 08:07] kaspth commented on #37
Nice find and thanks for working on this, :+1:.

[2015-05-27 08:12] burmashave opened #38 "Custom Scrubber documentation"
Not an issue, just a question about the documentation. I know I can whitelist a group of tags like this:
`<%= sanitize comment.content, tags: %w(b i) %>`

Now if want to use a custom scrubber to do the **exact same thing**, it's not clear to me what that would look like. I'd like to use this in the views:
`<%= sanitize comment.content, scrubber: CommentScrubber.new %>`

... but what would CommentS

[2015-05-27 08:24] kaspth commented on #38
There's an example of `CommentScrubber` just above the line you quote: https://github.com/rails/rails-html-sanitizer#custom-scrubbers

[2015-05-27 08:24] #38 closed

[2015-05-27 10:38] burmashave commented on #38
Yes, I saw the example, but it still wasn't clear. What I'm trying to understand is how to make a custom scrubber that does nothing but whitelist a set of tags, such as only "b" and "i". What do I use for this? `allowed_node?` didn't work for me.

[2015-05-27 11:21] kaspth commented on #38
Maybe you can make due with the `PermitScrubber`:

[code]

Read more here: https://github.com/rails/rails-html-sanitizer/blob/master/lib/rails/html/scrubbers.rb

[2015-05-27 18:47] burmashave commented on #38
That works. Thanks!

[2015-05-27 19:07] kaspth commented on #37
Fixed in Loofah v2.0.2 via flavorjones/loofah#85

[2015-05-27 19:07] #37 closed

[2015-06-01 17:53] dgm commented on #27
I see a similar problem with allowed tags:

[code]

When I specify `:tags` it fails to clean out the CDATA and javascript code....  but at least the script tag is gone.     It's inconsistent though.

[2015-06-08 19:35] smidwap opened #39 "< (less than bracket) is stripped"
I'm using the white list sanitizer, and it looks like it strips `<` even if it doesn't form a true html tag.

[code]

Is this expected behavior? Doesn't seem quite right.

Thanks in advance!

[2015-06-08 19:37] rafaelfranca commented on #39
Yes, it does. It will strip any non closed tag. In your case you have one unclosed tag `< 2 weeks ago`. You must escape the `<`.

[2015-06-08 19:37] #39 closed

[2015-06-09 15:13] smidwap commented on #39
Thanks for the rapid response.

Isn't this strange default behavior? Seems like the sanitizer should leave alone `<` if followed by a space.  It's perfectly reasonable user input. Am I missing a security issue?

[2015-06-09 15:18] rafaelfranca commented on #39
Yes. given `< script >` as input it will leave it alone and you will get XSS in your page.

[2015-06-09 15:21] smidwap commented on #39
Got it. Thanks!
On Jun 9, 2015 11:18 AM, "Rafael Mendonça França" <notifications@github.com>
wrote:

[2015-06-09 15:28] rafaelfranca commented on #39
Or even worse. Given you have two `sanitize` calls:

[code]

This also lead XSS

[2015-07-19 21:25] haf7 opened #41 "WhiteListSanitizer hangs on long/specific style attributes"
WhiteListSanitizer hangs on (for example) the following input:

`b2="<li class=\"my_next\" style=\"margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; out

[2015-07-27 09:55] jkraemer opened #42 "What's the plan for JRuby?"
I recently had a look into Loofahs (and by extension this gems) test failures on JRuby. While basic sanitization through Loofah / Nokogiri-J still appears to do what it should, such a massive amount of test failures might turn off potential users of Rails in a Java / JRuby environment and is imho a no-go for anything remotely security relevant.

Are there any plans to support sanitizers not based

[2015-07-27 16:21] rafaelfranca commented on #42
Yes, we have plans to support more than just Loofah as sanitizers although we don't know when this will be implemented

[2015-07-27 16:21] #42 closed

[2015-07-27 18:04] kaspth commented on #42
@jkraemer feel free to take a swing at it to speed up the process if you want :smile:

[2015-07-31 01:16] philomory commented on #27
Similarly, if you don't provide a list of allowed attributes, then it allows various attributes including href; however, in the process of allowing them, the Loofah scrubber also checks for attributes that are URIs and runs them through a protocol scrubber; so, `<a href="http://google.com/">Boo!</a>` is allowed, but `<a href="javascript:alert('Oh no!');">Boo!</a> is not allowed.

If you provide a

[2015-07-31 07:50] amatriain commented on #27
There seems to be little interest in this issue from maintainers, the PR has been open for a very long time. I decided this gem doesn't work for me and switched to the [sanitize gem](https://github.com/rgrove/sanitize) instead, which does what I expect from a sanitizer. I suggest you take a look to it.

[2015-08-05 22:00] mfazekas commented on #41
probably related https://github.com/flavorjones/loofah/issues/90

[2015-08-09 11:04] kaspth commented on #41
I'm closing because this is an issue with Loofah, as @mfazekas mentioned: flavorjones/loofah#90. Thanks :heart:

[2015-08-09 11:04] #41 closed

[2015-08-17 17:54] flavorjones commented on #41
@haf7 Worth noting that I cannot reproduce hanging on your example, given Loofah v2.0.2 and Ruby 2.2.2.

But yes, https://github.com/flavorjones/loofah/issues/90 is probably related.

[2015-09-16 23:09] tjchambers opened #44 "Strip_tags regression in Rails 4.2.4"
Rails 4.2.1
[code]

Rails 4.2.4
[code]

Therefore strip_tags is NOW in Rails 4.2.4 also translating text as well as stripping out tags. The lt; and gt; are TEXT and should be left alone.

[2015-09-16 23:27] tjchambers commented on #44
I have not been able to find anything in the change log regarding this FUNCTIONAL change. Why was it not noted?

[2015-09-17 00:39] tjchambers commented on #44
From the 4.2.4 documentation on sanitization:

[code]

Note the reference to ```&```

[2015-09-21 21:40] tjchambers commented on #44
Apologies for posting twice. I inferred I had posted this issue in an incorrect location based on no acknowledging response.

[2015-09-21 21:41] rafaelfranca commented on #44
No problem. I already have a potential fix for this issue but it doesn't work in all the cases. I'll keep you updated.

[2015-09-21 21:42] tjchambers commented on #44
Let me know if I can assist in any way. I have worked around the issue for now.

[2015-10-21 09:11] ivdma commented on #44
Any updates on this issue? Our application depends on it heavily so this issue prevents us from upgrading to Rails 4.2.4.

[2015-11-30 14:05] jurglic commented on #44
I'm having the same issue - `#strip_tags` is translating all my html entities.

In my case this produces html-unsafe string even when the input argument was html-safe.

[2015-12-13 11:39] aianus commented on #44
@rafaelfranca

Is a fix still incoming or shall I take a crack at it? This bug makes this gem practically useless.

[2015-12-13 13:43] kaspth commented on #44
@aianus do dig in, please :smile:

[2016-01-17 07:59] chloerei commented on #27
I think allowed_attributes that skip a lot of Loofah scrub  will be a problem. Now I call twice sanitizie to fix that temporary:

[code]

Considering change to https://github.com/rgrove/sanitize .

[2016-01-25 10:07] chumakoff opened #46 "WhiteListSanitizer#sanitize does not work as expected"
Rails::Html::WhiteListSanitizer.new.sanitize("one < two")
=> "one "

Related issues:
https://github.com/rails/rails/issues/23230
https://github.com/sparklemotion/nokogiri/issues/1419
https://github.com/flavorjones/loofah/issues/99

Rails 4.2.4
rails-html-sanitizer 1.0.2

[2016-01-25 11:23] kaspth commented on #46
Can reproduce this with vanilla Nokogiri:

[code]

So let's pool resources on sparklemotion/nokogiri#1419 instead of filing 4 issues. Thanks! :heart:

[2016-01-25 11:23] #46 closed

[2016-01-26 13:28] flavorjones commented on #46
Nokogiri is operating as expected here. Not sure there's anything anyone can do about invalid HTML being treated as invalid HTML by an HTML parser. Either avoid passing it into the HTML parser or else escape entities first.

[2016-01-26 18:44] TALlama opened #48 "Workaround for encode_special_chars"
I'm trying to take an HTML fragment and output it in a non-HTML context (CSV, to be specific). As such, I want to "slurp out" the text unchanged but strip tags completely, which I used to be able to do but in 1.0.3 I now have to decode HTML entities outside the sanitizer.

Before 1.0.3, You could do:

[code]

But now in 1.0.3, there is no way to strip tags without also HTML-encoding the special ch

[2016-01-26 21:55] rafaelfranca commented on #48
HTML sanitizing is for HTML contexts. There is not way to safely not escape HTML entities without reintroducing the security issue. You can fallback to loofah if you want to keep this behavior.

[2016-01-26 21:55] #48 closed

[2016-01-27 18:20] pvalena opened #49 "Tests failing with libxml2-2.9.3"
When i update to libxml2-2.9.3, these tests fail:

SanitizersTest#test_strip_links_with_tags_in_tags
SanitizersTest#test_strip_nested_tags
SanitizersTest#test_should_sanitize_script_tag_with_multiple_open_brackets
SanitizersTest#test_strip_tags_with_many_open_quotes
SanitizersTest#test_strip_invalid_html

http://paste.fedoraproject.org/315402/17785145/

Tests do not fail with libxml2-2.9.2.
Maybe

[2016-01-27 19:15] rafaelfranca commented on #44
That is fixed now.

[2016-01-27 19:15] #44 closed

[2016-01-27 19:16] rafaelfranca commented on #27
That should be fixed now.

[2016-01-27 19:16] #27 closed

[2016-01-29 17:35] nruth opened #50 "4.2.5.1 #sanitize whitelist changes vs Rails::Html::WhiteListSanitizer docs"
4.2.5.1 gave me some failing tests re: RedCloth output & I'm trying to figure out how to get going again quickly.

I noticed 297161e29a3e11186ce4 changed the whitelist to one set at https://github.com/rails/rails-html-sanitizer/blob/master/lib/rails/html/sanitizer.rb#L107

However, the documentation implies that it's using Loofah's HTML5 whitelist, which contains a lot more tags (tables, svgs, kit

[2016-01-29 19:05] rafaelfranca commented on #50
To be secure by default we chose to use the same whitelist we were using in Rails 4.1 before the introduction of rails-html-sanitizer. The Loofah whitelist may not have security issues but we prefer to keep our battle tested whitelist by default.

[2016-01-29 19:33] nruth commented on #50
Then 2 docs patches come to mind:

1. Update WhiteListSanitizer docs removing mention of the Loofah whitelist, instead saying something about the new defaults
2. In Rails #sanitize it'd be useful to have an example like `sanitize(text, tags: Loofah::HTML5::WhiteList::ALLOWED_ELEMENTS` for users who find the default isn't enough, but don't want to roll their own

For 1. it may be useful to state wh

[2016-01-29 19:39] rafaelfranca commented on #50
Looks like a great plan. About 2, our original plan was to release a sec version with the old whitelist and later add a configuration option to change the whitelist to loofah's one. Do you think that would be better than documenting how to use it?

[2016-01-29 20:11] nruth commented on #50
I like the sound of the configuration approach, it seems more railsy to have a solid default, but does that mean Rails picking up responsibility for maintaining the integration, and more importantly for its security?

As an application developer that'd be great. But if I were a Rails maintainer I'd be worried about the complexity of the Loofah whitelist: there could well be vulnerabilities hiding

[2016-02-02 04:35] rafaelfranca commented on #50
This is why we changed the default to our old whitelist. If people is opt-in for the Loofah's default it is their own risk.

[2016-02-18 22:30] Qqwy opened #51 "Data URI's get sanitized"
When I sanitize a HTML string with an image whose src points to a data URI, its src attribute is removed (even when src is whitelisted):

    unclean_html = "A test
    <img src=\"http://placehold.it/400x300\">
    <img src='data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='/>"
    sanitizer = Rails::Html::WhiteListSanitizer.new
    clean_html = sanitizer.sanitize(

[2016-02-18 22:41] Qqwy commented on #51
After testing this, it seems that the issue is also apparent inside of Loofah, so I think it is not caused by the code in rails-html-sanitizer itself.

[I've created an issue at the Loofah repository](https://github.com/flavorjones/loofah/issues/101).

[2016-02-26 16:12] optimum-dulopin commented on #28
hi, I still have this bug. How to get rid of it ? I need to strip html tag, but to also to keep & and normal < and > which are not html tag.
thanks

[2016-02-27 17:31] DannyBen opened #52 "Allow "tel:" links"
Hello,

Is it intentional that `tel:` links are not allowed? Seems like a harmless protocol that should be allowed

[code]

As a workaround, I am currently using:

[code]

As proposed by [this StackOverflow][1] answer

[1]: http://stackoverflow.com/questions/35670896/why-are-tel-links-removed-in-sanitization-and-how-to-allow-them/35671276#35671276

[2016-03-01 12:46] kaspth commented on #52
As your workaround shows, this is controlled by Loofah. Try asking there, thanks! 😁

[2016-03-01 12:46] #52 closed

[2016-03-04 07:16] lulalalalistia commented on #28
Hi @kaspth and @lacco
After testing, #31 does not actually fix this issue. Here is me using Rails 4.2.5.2
and ampersand still gets escaped.
Can you confirm and reopen this issue please? :P

[code]

[2016-03-04 08:29] kaspth commented on #28
We don't bump `rails-html-sanitizer` versions on Rails upgrades. You're required to upgrade that yourselves. So are you on the latest version of this library?

[2016-03-04 08:39] lulalala commented on #28
@kaspth I am on 1.0.3, so should be the latest right?

[code]

[2016-03-04 13:01] flavorjones commented on #49
@pvalena What version of nokogiri did you have installed when these tests failed? Can you provide the output from `nokogiri -v`, please?

Also, the "paste" link above is not valid.

[2016-03-04 13:07] flavorjones commented on #51
This issue should be closed, since we have a conversation going on at https://github.com/flavorjones/loofah/issues/101

[2016-03-04 13:34] kaspth commented on #51
Thanks folks! I'll close ❤️

[2016-03-04 13:34] #51 closed

[2016-03-07 20:17] pvalena commented on #49
Sorry, the paste must have expired. This one should be 'forever': http://ur1.ca/om1mr

HIH
---
$ nokogiri -v
# Nokogiri (1.6.7.2)
    ---
    warnings: []
    nokogiri: 1.6.7.2
    ruby:
      version: 2.3.0
      platform: x86_64-linux
      description: ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]
      engine: ruby
    libxml:
      binding: extension
      source: system
      compi

[2016-03-09 20:12] kaspth commented on #28
@lulalala why are you calling this on Action Controller?

It works fine on Action View:

[code]

However, it could also have to do with your Nokogiri version or even your Libxml version.

[2016-03-10 01:31] lulalala commented on #28
Because the other issue used `ActionController::Base.helpers.strip_tags("test\r\n\r\ntest")` as the example :)

[code]

My libxml is:

I believe those would be libxml2 2.9.0, libxslt 1.1.28, and libexslt 0.8.17.

What are yours?

[2016-03-10 20:17] kaspth commented on #28
I remember now. This was removed because it introduced a security issue. Read more here: https://github.com/rails/rails-html-sanitizer/commit/49dfc1584c5b8e35a4ffabf8356ba3df025e8d3f

cc @rafaelfranca

[2016-04-07 07:06] NeoElit opened #53 "Custom Scrubber allowed_node? not being invoked!!!"
I tried using a custom scrubber for html sanitizer as mentioned in the readme, however it doesn't seem to clear unallowed tags. In fact its not even calling the allowed_node? method.

https://gist.github.com/NeoElit/d1fe81aa60e7d61247f80e2ebdbf0358

Is this a bug or am I doing something wrong?

[2016-04-12 07:43] mattt416 commented on #28
Hi @kaspth , so what exactly is the solution here?  :)  I thought this problem went away but now I'm seeing this `&amp;amp;` again.  Any info appreciated!

--Matt

[2016-04-14 18:03] phearle opened #54 "rails-html-sanitizer 1.0.3 crashes with both ruby 2.3.0p0 & ruby 2.2.2p95"
Hi,

I'm having an issue where rails-html-sanitizer seems to be causing a VM crash for both ruby 2.2.2p95 and ruby 2.3.0p0 when sending email via ActionMailer. I've reproduced this crash with Rails 4.2.5, 4.2.5.1 and 4.2.6.

In each case I can fix the crash by specifying rails-html-sanitizer 1.0.2 in our Gemfile. With everything else being equal (no other differences in the Gemfile.lock file) 1.0.

[2016-04-14 22:34] rafaelfranca commented on #54
Does nokogiri version also changed with the `rails-html-sanitizer` version?

[2016-04-15 08:36] kaspth commented on #28
Nothing more to say than my comment just above did :)

[2016-04-15 12:34] phearle commented on #54
Yes, it does when upgrading to 1.0.3 from 1.0.2. I must have missed this the first time.

However, if I downgrade rails-html-sanitizer back to 1.0.2 via the Gemfile and bundler, nokogiri is not downgraded (stays at 1.6.7.2) and the crashes no longer happen.

**Always crashes**:
rails-html-sanitizer 1.0.3
nokogiri 1.6.7.2

**Cannot reproduce crash**:
rails-html-sanitizer 1.0.2
nokogiri 1.6.7.2
and

[2016-04-15 15:23] lulalala commented on #28
So would you consider reopen this issue, so more people can discussion how to deal with it? Because otherwise this method remains unusable.

[2016-04-15 15:28] kaspth commented on #28
Sure

[2016-04-15 17:58] rafaelfranca commented on #28
there is no way to fix it. It will generate escaped HTML that will be displayed correctly in the HTML page. If you escaping `&amp;` it will be `&amp;amp;`. If you are escaping `&` it will be `&amp;`.

[2016-04-15 17:58] #28 closed

[2016-04-15 18:02] rafaelfranca commented on #54
By the error log this crashes comes from the polyglot gem and it is not related with this gem. Could you confirm that it was not changed?

[2016-04-15 18:04] rafaelfranca commented on #54
Also the mail gem is at that log.

[2016-04-16 01:04] lulalala commented on #28
@rafaelfranca then can it be marked as `html_safe?`?

[2016-04-24 16:29] kaspth commented on #53
You haven't set any allowed tags for the permit scrubber to filter on, so it'll assume you want loofahs secure defaults and won't call that method. Agree that it's a bit confusing but that's how it is 😁

[2016-04-24 16:29] #53 closed

[2016-04-25 03:02] NeoElit commented on #53
@kaspth what you mean by i haven't set any allowed tags? I have overridden the allowed_node? method and checking if the node is in the provided set and returning truth boolean depending whether to filter or not. I just tried the example provided in the ReadMe file. I'm confused.

[2016-04-25 03:38] NeoElit commented on #53
@kaspth if you mean defining allowed_tags(options), i event tried that, but couldn't get it working.
It would be great if you can point me to some example or something :)

[2016-04-25 06:48] kaspth commented on #53
You should set `tags` on the scrubber.

I've updated the misleading docs here: https://github.com/rails/rails-html-sanitizer/blob/master/lib/rails/html/scrubbers.rb#L22-L34

Thanks! :heart:

[2016-04-25 15:33] NeoElit commented on #53
@kaspth great, that works :+1:
note: the doc change is not yet reflected on the main Readme file

Thank you so much :)

[2016-04-25 15:45] kaspth commented on #53
Sweet! And why not submit a pull request then? :)

[2016-04-26 04:11] NeoElit commented on #53
@kaspth Sent one :)

[2016-06-23 14:11] srecnig opened #56 "Full sanitizer does not escape quotes"
hey,

i've found the following behaviour: `<`, `>` and `&` are escaped when using the sanitizer, while `"` is not.

[code]

Before https://github.com/rails/rails-html-sanitizer/commit/49dfc1584c5b8e35a4ffabf8356ba3df025e8d3f , the full sanitizer was using loofah's `text` method which did escape quotes, but now it's using `to_html`, which does not.

[code]

Is this a bug or expected behaviour? Shou

[2016-06-23 15:03] kaspth commented on #56
The commit you linked to has the reasoning for why we can't escape quotes:

tags that will not be sanitized and will be returned as unescaped HTML
tags.

If you know what you're doing security-wise, you can try using Loofah directly as described here: https://github.com/rails/rails-html-sanitizer/issues/48#issuecomment-175249914

[2016-06-23 15:07] rafaelfranca commented on #56
@kaspth That is only about the unescaping behavior but I believe not escaping quotes was not a conscious decision.

[2016-06-23 16:26] kaspth commented on #56
Ah, I see 👍

[2016-06-24 07:22] srecnig commented on #56
What I (or rather: the [meta-tags gem](https://github.com/kpumuk/meta-tags)) need is a string stripped from html tags that has either both ampersands and quotes escaped or both not escaped. That's currently not possible with rails-html-sanitizer, right?

As of now, i'm stripping tags using the sanitizer, re-encoding all the html special chars using loofah, and then escaping the string again, using

[2016-07-29 20:10] CamJN opened #57 "Unexpected change in sanitize"
`sanitize('<script><blink>')` returns `"&lt;blink&gt;"` where it used to (and I would expect it to) return `""`

[2016-07-30 08:10] kaspth commented on #57
https://github.com/rails/rails/issues/25996#issuecomment-236350744

[2016-07-30 08:10] #57 closed

[2016-09-26 05:59] mariovisic opened #58 "Unfinished open tag being escaped"
Hi there

Moving from the built in rails 3 sanitizer to the one supplied with 4.2 yields a difference in the way string featuring the less than character are escaped. An example

[code]

To me; the old behavior seems more correct, there are plenty of valid uses for the less than symbol touching another character. For example, a simple ascii emoji:

[code]

I'd write a failing test, but there seems

[2016-09-26 06:10] mariovisic commented on #58
I suppose a bigger problem is that everything trailing the open tag character is removed, an innocent smiley face means that the end of your message is deleted

[code]

... ice cream cones are fine though:

[code]

If the number proceeding the open tag is a number then it's not removed.

[2016-10-10 04:47] rafaelfranca commented on #58
Yeah, that behavior is not possible anymore. It is by design that open tags are being removed. What you can do is to escape your content instead of sanitizing.

[2016-10-10 04:47] #58 closed

[2016-11-11 01:42] gkaemmer opened #59 "Sanitize method adds line breaks where they do not exist"
Running Rails 4.2.0, I get weird behavior when running `sanitize` on the following HTML:
[code]
The method seems to add a line break between the two inner `div`s, resulting in this:
[code]
I noticed this because that extra `\n` broke one of my layouts (due to `inline-block` divs with width `50%`. A single piece of whitespace causes wrapping).

The extra line break only happens when there's an inpu

[2016-11-27 17:35] kaspth commented on #59
We just use Loofah under the head, ask there for more help ❤️

[2016-11-27 17:35] #59 closed

[2017-02-15 21:56] stefanosc opened #62 "removing HTML comments"
I am having a hard time removing HTML comments using a custom scrubber. I would appreciate some help.

Following the documentation here is what I tried:
[code]

However, the HTML comment is not removed in the output string. Am I missing something?
Thank you very much.

[2017-02-16 03:13] rderoldan1 opened #63 "Help with a text"
I saw that '<' can have XSS problems, now I'm trying this text:
[code]
 when I sanitize it, the result remove '<test@gmail.com>', there is any way to avoid this behavior?

[2017-02-23 23:46] rafaelfranca commented on #62
comment is not a tag so you can't remove it like this. In this case I believe you would have to write a custom scrubber.

[2017-02-23 23:46] #62 closed

[2017-02-23 23:47] rafaelfranca commented on #63
Maybe for this case you don't want to sanitize but to escape the `<`. `html_escape` does that.

[2017-02-23 23:47] #63 closed

[2017-03-06 18:53] stefanosc commented on #62
Hello @rafaelfranca thank you for the message. I find your reply confusing in regards to the readme and the code.
See [sanitizer.rb#L3](https://github.com/rails/rails-html-sanitizer/blob/master/lib/rails/html/sanitizer.rb#L3)
please also see the following screenshot from the [readme](https://github.com/rails/rails-html-sanitizer#custom-scrubbers):
![screenshot-github com-2017-03-06-19-49-10](https

[2017-03-09 19:26] kaspth commented on #62
Been a long time since I've looked at that code. It's entirely possible that the `CommentScrubber` example is wrong when it comes to comments.

The fact that we include `comment()` in `XPATHS_TO_REMOVE` says as much, I think.

Please do investigate! 😊

[2017-03-09 20:57] stefanosc commented on #62
Thank you @kaspth yes I am indeed investigating. I believe I found a bug (or at least an unexpected behavior). I will open another issue as soon as I have enough data. Thank you for your work! 🙏

[2017-03-09 21:05] kaspth commented on #62
Sweet, sounds good! 😄

[2017-04-26 09:00] yskkin opened #64 "`sanitize` inserts unintended whitespace"
By executing following test.rb file via `rails runner test.rb`,
[code]

I got this output:

[code]

Is this expected behavior?
Unintended new line breaks my html layout.

[2017-05-03 13:06] fschwahn opened #65 "Stripping of comments"
I just ran into an issue where something was removed which was unexpected. I also found a test, but this test is rather confusing: `test_strip_comments`. It contains this assertion:

[code]

This assertion was different, but was changed 3 years ago, without explanation why this behaviour changed.

[code]

I think the old assertion is what is expected, not that everything after `<--` is stripped.

[2017-05-03 17:57] rafaelfranca commented on #65
Nokogiri interpret any non closed tag as a tag. The behavior changed because we are using Nokogiri and libxml to sanitize the input now. We can't change this behavior without opening the application to security vulnerabilities.

[2017-05-03 17:57] #65 closed

[2017-05-04 07:09] fschwahn commented on #65
Thanks, that makes sense. Would you consider a PR where I rename that test to `test_remove_unclosed_tag`? I think that would be a better description of what is tested.

[2017-05-04 22:54] rafaelfranca commented on #65
Great idea. Thanks

[2017-05-12 12:47] kaspth commented on #64
Yup, it's expected based on how Loofah works through Nokogiri. Thanks!

[2017-05-12 12:47] #64 closed

[2017-06-16 00:10] miloprice opened #67 "FullSantitizer de-escapes escaped HTML entities besides &, <, >"
If you use FullSanitizer on a string containing an escaped &, <, or >, it remains escaped, as discussed [here](https://github.com/rails/rails-html-sanitizer/issues/28) and added [here](https://github.com/rails/rails-html-sanitizer/commit/49dfc1584c5b8e35a4ffabf8356ba3df025e8d3f):

    => "Read more &amp; &lt; &gt;"

(using version 1.03 with Ruby 2.3.4)

But if you use it on strings containing othe

[2017-06-16 08:02] kaspth commented on #67
Yes, it is https://github.com/rails/rails/issues/25996#issuecomment-236350744

[2017-06-16 08:02] #67 closed

[2017-06-16 15:46] miloprice commented on #67
@kaspth The problem I'm having is that it's **de**-escaping some HTML entities.

`&` gets escaped and becomes `&amp;`, and `&amp;` gets left alone, but `&hellip;` e.g. gets de-escaped and becomes `…`. Why do `&amp;` and `&hellip;` behave differently?

[2017-06-17 05:49] kaspth commented on #67
Not sure. I'd check with the Loofah or Nokogiri folks. 😊

[2018-01-09 03:15] tquill opened #68 "Problem trying to whitelist rgb color within style attribute"
I have a basic comment scrubber:

    class CommentScrubber < Rails::Html::PermitScrubber
      def initialize
        super
        self.tags = %w( strong em u div span br h1 h2 h3 h4 ul ol li table thead tbody th tr td img hr a )
        self.attributes = %w( style colspan rowspan text-align class href target src href )
      end

      def skip_node?(node)
        node.text?
      end
    end

[2018-03-22 10:10] boutil opened #70 "test failures with new loofah (2.2.1)"
Hi,

In newer version, loofah changed from homemade regexps to the crass gem to handle css parsing/scrubbing.
As a  consequence, the output of scrubbing changed a little bit, and additional spaces which were present after the ":" are now removed, causing test failures:

[code]

Of course, it is just cosmetic and doesn't really break any functionality. Could you adapt the tests to the new output? M

[2018-03-22 19:01] #54 closed

[2018-03-22 19:02] #50 closed

[2018-03-22 19:02] #49 closed

[2018-03-22 19:03] rafaelfranca commented on #70
Thanks! Fixed.

[2018-03-22 19:03] #70 closed

[2018-04-06 19:45] jackphelps opened #72 "Environment-based sanitizer difference with open lt tags"
On heroku:
[code]
Locally (all rails environments)
[code]

I'd _expect_ the local version to be correct, though I'm not sure what the developer intended.

We are using ruby 2.5.0 with the following locked dependencies shared across environments:
rails (4.2.10)
rails-html-sanitizer (1.0.3)
loofah (2.2.2)
crass (1.0.3)
nokogiri (1.8.2)

We all use macbooks on sierra or high sierra, it's the same in

[2018-04-06 21:01] rafaelfranca commented on #72
Which version of libxml is being used locally and in production. That is the case for the difference in behavior.

[2018-04-17 21:36] jackphelps commented on #72
Hi @rafaelfranca -- sorry for the delay, I missed the GH notification :(

On heroku (the borked one)
[code]

And looks like I'm on 2.2 on my mac

[2018-04-18 17:48] rafaelfranca commented on #72
That is the reason. The behavior of the sanitizer depends on the version of libxml. If you want consistent behavior, make sure you are in the same version.

[2018-04-18 18:13] jackphelps commented on #72
Yes, I understand, and thanks for identifying libxml as the cause here; I guess my further question is: I thought the output when based on libxml2.9.1 was probably not the intended behavior; is that not the case?

I haven't dug through your source and don't know too much about libxml or the other dependencies, so not sure if it's something you can do anything about, but if it's a bug I could help

[2018-04-18 18:43] rafaelfranca commented on #72
We don't know if `< things` can be transformed later to a tag by the next character in the next line so we consider it an unclosed tag, because of this it is removed from the output. How libxml consider that snippet changed to be more aggressive. I consider the behavior on libxml2.9.1 safer.

[2018-04-18 21:25] jackphelps commented on #72
Understood, thanks for the clarity. We'll probably use the most stable older version going forward, we have separate sanitization methods for different cases and are confident our use here is safe.

Thanks again!

[2018-04-18 21:25] #72 closed

[2018-10-31 09:59] motiko opened #76 "Upgrade loofah dependency to 2.2.3"
Due to XSS vulnerability - CVE-2018-16468
See here:
https://github.com/flavorjones/loofah/issues/154

[2018-11-02 16:17] rodolfobandeira opened #82 "loofah - CVE-2018-16468"
Fix CVE-2018-16468

Reference:
https://github.com/flavorjones/loofah/issues/154

[2018-11-02 17:08] rafaelfranca commented on #82
#75 #74 #73

[2018-11-02 17:08] #82 closed

[2019-01-02 23:09] jaredbeck commented on #50
Does this mean rails will not accept the addition of these elements to the whitelist? I'm not a XSS expert but `table` seems like a safe element to me. How do you perform an XSS attack using `table`?

[2019-08-05 07:21] igorkasyanchuk opened #94 "How to migrate to new sanitizer"
Currently after upgrading gems in my app I see the following (with `config.active_support.deprecation = :raise` to see stack trace) :

How to set new sanitizer? I'm just calling "simple_format in the email".

[code]

[2019-08-05 14:21] jacobat commented on #94
This looks like an issue in ActionView. Should probably be fixed there.

According to the code you should be able to set a white list sanitizer https://github.com/rails/rails/blob/master/actionview/lib/action_view/helpers/sanitize_helper.rb#L155-L160 - I can't make that work though.

[2019-08-05 14:24] jacobat commented on #94
Issue filed: https://github.com/rails/rails/issues/36858

[2019-08-05 14:38] kaspth commented on #94
Yeah, let's take it to the Rails issue, thanks.

[2019-08-05 14:38] #94 closed

[2019-08-07 10:10] rocket-turtle commented on #94
For those who run a Rails version 4.2 to 5.1 you can eather fix the gem to `gem 'rails-html-sanitizer', '~> 1.0.3'` or remove the deprecation warning via a monkey patch.

[code]

[code]

[2019-08-08 22:27] kaspth commented on #94
Just for reference here: https://github.com/rails/rails/issues/36858#issuecomment-519709953

[2019-08-09 10:31] likeuwill opened #97 "XSS vulnerability v1.2.0"
**bundle audit check --update**
[code]

[2019-08-09 20:05] rafaelfranca commented on #97
This is not an issue on this repository. Report it to bundle audit.

[2019-08-09 20:05] #97 closed

[2019-08-21 19:34] archonic opened #98 "WhitelistSanitizer manipulating URLs"
I've found that a WhitelistSanitizer instance will manipulate the values of an allowed attribute.

[code]

The conversion of `$` to `%24` can cause some urls to 404. Is this intentional? Is there a way to configure it to leave the values of attributes as is?

[2019-08-27 09:34] ge-fa opened #99 "Debian packaging 1.2.0: test issues"
Hi,

I'm preparing 1.2.0 for Debian, and running into the following, which looks like quite minor, possibly related to encoding:

[code]

I'm happy to provide more details if needed.

Thanks for your work,
cheers!

[2019-09-18 14:00] pvalena commented on #99
I have same issue in Fedora:

[code]

[2019-09-19 14:06] ge-fa commented on #99
On Debian it's `2.9.4`.

[2019-09-19 14:21] rafaelfranca commented on #99
Are you building nokogiri using the system libraries? If that is the case that is the problem. Our test rely on the libxml version inside nokogiri so if there is a version mismatch they will fail.

[2019-09-19 14:23] ge-fa commented on #99
Yes I do. Thanks for the explanation, I'll disable these, then.

[2019-09-19 14:23] #99 closed

[2019-09-30 03:10] vividtone opened #101 "Loofah::HTML5::WhiteList is deprecated"
A warning message "constant Loofah::HTML5::WhiteList is deprecated" is shown if you update Loofah to 2.3.0.

In Loofah 2.3.0, Loofah::HTML5::WhiteList was renamed to Loofah::HTML5::SafeList.
https://github.com/flavorjones/loofah/pull/164

[2019-09-30 07:28] bary822 commented on #101
I guess this should be fixed in the newest version?
https://github.com/rails/rails-html-sanitizer/pull/100/files

[2019-09-30 07:30] vividtone commented on #101
@bary822 Oh, I overlooked the pull request. Thank you for pointing it out.

[2019-09-30 07:30] #101 closed

[2019-10-06 10:05] lephyrius opened #103 "Deprication warnings with loofah 2.3.0"
When using this with newest loofah 2.3.0 it gives this deprication warning:
[code]

[2019-10-06 15:07] georgeclaghorn commented on #103
These were addressed in #100.

[2019-10-06 15:07] #103 closed

[2019-10-23 14:51] fschwahn commented on #68
I couldn't reproduce this:
[code]

Seems like this was fixed in loofah 2.2.0 (see https://github.com/flavorjones/loofah/blob/master/CHANGELOG.md#220--2018-02-11), and is not an issue with rails-html-sanitizer.

[2020-01-01 17:26] mberlanda commented on #97
Same for the next version:

[code]

[2020-02-12 09:16] puneet-sutar opened #104 "Style attributed not included in SafeListSanitizer.allowed_attributes"
In my current project, I also need to also allow the `style` attribute. I know how to do that.
What I am not sure why it's not allowed by default and should I be careful about something while allowing the style attribute.

[2020-04-13 16:21] kaspatel-mdsol opened #106 "version 1.3.0 XSS Vulnerability"
Version 1.3.0 still has XSS vulnerabilities. Is there any plans to fix it?

[2020-04-13 16:48] rafaelfranca commented on #106
Which XSS vulnerabilities? Care to expand on that?

[2020-04-14 05:29] anicholson commented on #106
@rafaelfranca `bundle audit` reports vulnerabilities for 1.3.0, perhaps erroneously?

I just hit this on my Rails 5.2 app:

[code]

[2020-04-14 15:59] rafaelfranca commented on #106
Yes, that is an error on bundle audit.

[2020-04-14 15:59] #106 closed

[2020-05-15 05:51] Zeouterlimits opened #107 "Nuanced rules when santising? (to enable other attributes like target + rel)"
For the allowed attributes in html:

https://github.com/rails/rails-html-sanitizer/blob/93eb2491daa0f758e1e4d3e72833c911dfb71468/lib/rails/html/sanitizer.rb#L111

Would it be possible to make the rules more nuanced?
For example, the target attribute is not included by default, likely because it can be used to exploit a browsers window.opener api.
However that only applies, when the rel attribute i

[2020-08-20 02:18] petebytes opened #108 "Unable to whitelist css variables"
Trying to whitelist CSS variable does not seem to work.  RGB works fine.

![image](https://user-images.githubusercontent.com/676739/90709105-4a4c5900-e250-11ea-8d80-a9565e05c831.png)

[code]

[2020-08-20 02:35] petebytes commented on #108
added initializer - works now :)

[code]

[2020-08-20 02:35] #108 closed

[2021-01-20 21:24] paul-mesnilgrente opened #109 "iframe are scrubbed by default?"
Raising this issue as I feel like it's a bug, or maybe a lack of documentation.

I ran a script to remove all the inline styles from the database. And it turned out that it removed all the iframes as well. Here's a summary of it

[code]

To make this work, I actually have to tell the scrubber to not scrub any tags with `scrubber.tags = []` even if `scrubber.tags` returns `nil` after the initializa

[2021-01-20 21:37] rafaelfranca commented on #109
Yes, it is scrubbed by default unless you define which tags you want to scrub. By default only those tags are allowed https://github.com/flavorjones/loofah/blob/07e89a5794b882c82f3d0fea39252e56948936e7/lib/loofah/html5/safelist.rb#L809.

This is not a bug, it is by design to make sure the default behavior of the scrubbers included on this library, with no configuration, is secure. Thank you for th

[2021-01-20 21:37] #109 closed

[2021-01-21 15:35] paul-mesnilgrente commented on #109
Might be good to add some documentations on the README. Looking at the example:

[code]

It's really hard to see that scrubbing attributes only will also scrub some tags. The only place where I could find documentation is on https://github.com/rails/rails-html-sanitizer/blob/51dc564c6509201070f72456bb2c13f87bb373d6/lib/rails/html/scrubbers.rb#L24

What do you think? Happy to create a quick PR if n

[2021-01-21 23:56] rafaelfranca commented on #109
Makes sense to improve the documentation. Feel free to open a PR

[2021-01-31 15:38] seanfcarroll commented on #106
Am still getting the same error.

[2021-02-14 19:32] terceiro opened #111 "test failures against current loofah/nokogiri"
[code]

failure 2) is trivial to fix; but failure 1) is more involved. The project CI is currently broken with these exact same failures.

[2021-02-19 13:54] boutil commented on #111
using loofah 2.7.0 makes all the tests pass.

[2021-03-14 00:08] Segaja commented on #111
Is it possible to fix that? I have similar errors when trying to package this for Archlinux:

[code]

[2021-04-07 17:09] jacobherrington commented on #104
Hey @puneet-sutar, I'm not really part of this project, but to answer your question:

Allowing the style attribute in user-generated content (where I think most folks use this gem) is dangerous because CSS is really powerful and can be used to cause serious damage if it is rendered on a page.

For example, if I had access to CSS (even via the style attribute) in this comment box, I could style an

[2021-04-07 21:42] jacobherrington commented on #111
There was a breaking change in Loofah 2.9.0 #112 fixe one of the two tests that fail. I have read quite a bit of Loofah and Nokogiri code today, so I'll try to fix the other failing test as well. :sweat_smile:

[2021-04-07 21:46] jacobherrington commented on #111
I can say that the second test is also a regression in Loofah 2.9.0; it probably makes the most sense to open an issue in that repository regarding this issue.

[2021-04-08 14:51] flavorjones commented on #111
I'm on it.

[2021-04-08 15:50] flavorjones commented on #111
See #113.

[2021-04-22 03:40] #111 closed

[2021-04-22 03:50] flavorjones commented on #68
Closing, @fschwahn is correct, this was fixed upstream in Loofah.

[2021-04-22 03:50] #68 closed

[2021-04-22 04:06] flavorjones commented on #98
Hi @archonic, thanks for asking this question, and apologies that nobody has responded for so long.

### Diagnosis

The behavior you're describing actually belongs to libxml2 via Nokogiri, and is pretty commonly reported to both the Loofah and Nokogiri projects:

[code]

(The dependency chain here is `rails-html-sanitizer` → `loofah` → `nokogiri` → `libxml2`.)

Here's the C code that controls URI-

[2021-04-22 04:06] #98 closed

[2021-04-22 04:17] flavorjones commented on #104
@puneet-sutar Thanks for asking this question.

The answer @jacobherrington gave is correct, but I would like to add that the underlying library, Loofah, does a reasonable job of trying to sanitizing the CSS. Notably, it maintains "allowlists" for CSS properties and functions to try to avoid the obvious vectors for XSS vulnerabilities. But it can't prevent targetted attacks like the one described

[2021-04-22 04:17] #104 closed

[2021-04-23 02:18] archonic commented on #98
That's a great response, thank you!

[2021-05-24 21:35] dmpotter44 opened #115 "PermitScrubber treats ProcessingInstructions as Elements"
The PermitScrubber class treats `ProcessingInstruction`s as if they were `Element`s. (Actually, strictly speaking, it doesn't check the node type at all, beyond special handling for CDATA nodes, it just checks the `name` field.) This leads to some odd behavior:

[code]

However, this is because the PI has a white-listed `name`. So, for example:

[code]

I haven't figured out any way to do anything

[2021-05-26 04:33] flavorjones commented on #115
@dmpotter44 Thanks for opening this issue! I've reproduced what you're seeing.

I'll take a deeper look when I have a bit more time, but I think I agree with your assessment that these nodes should be stripped when sanitizing.

[2021-07-19 03:17] flavorjones commented on #115
PR submitted at #116 to address this.

[2021-07-20 14:57] #115 closed

[2021-08-30 13:37] voxik commented on #99
Just FTR, these were already modified once:

https://github.com/rails/rails-html-sanitizer/commit/3ca8a870d78e4e0adde8c5e27a695ca6670f14eb

So that seems libxml2 have changed the escaping but later partially reverted to not escape the `<`, `>`.

[2021-12-08 06:24] dutgcom commented on #28
That's looks like a major issue!

I've thought as per best practice a function does one thing and one thing only and used strip_tags to remove tags from user input BEFORE saving it into DB

Now I have DB full of stuff like "Bank Name" = "JPMorgan Chase &amp; Co"

Moreover, if you do
[code]
You'll get link to `JPMorgan Chase &amp; Co`

How come it's not a major bug

IMO it should either JUST strip

[2021-12-08 14:23] flavorjones commented on #28
@dutgcom Lots to unpack here, I'll try to help.

First: this issue has been closed for almost six years. My advice is that you should open a new issue if you'd like to discuss something. I'll be locking this issue after this response, but I'd be happy to continue the conversation in a new issue!

This library is intended to be used in the view layer at page render time, and not by Active Record to

[2021-12-08 15:33] flavorjones commented on #28
I'll update the README today with some of this info as well.

[2022-01-18 15:02] dorianmariefr opened #124 "`strip_tags(input).html_safe? # => false to true` ?"
It seems like `strip_tags` is escaping the input, shouldn't it be `html_safe?` then?

I don't like adding `.html_safe` in my code but seems like `strip_tags` already escapes the input for `strip_tags(input).html_safe` should be safe

what do you think?

[2022-01-18 15:29] flavorjones commented on #124
This seems reasonable to me, but I'd like to hear from @kaspth in case there's a reason this wasn't done before now.

[2022-01-19 21:19] dorianmariefr commented on #124
My issue is that if I have an input like "Meet & Crush", I do:

[code]

So it escapes the & correctly, except that if I do:

[code]

So it will be escaped twice:

[code]

Which is what rails does in the views when the string is not `html_safe?`.

Which is why I think `strip_tags(input).html_safe?` should be `true`

[2022-01-21 22:35] Segaja opened #125 "test failures when using loofah 2.13.0 and nokogiri 1.12.5"
When trying to package the latest version for Archlinux i get these test errors:
[code]

I would appreciate a fix for these ;)

[2022-01-22 17:28] flavorjones commented on #125
I cannot reproduce what you're describing.

[code]

Can you please provide the output of `nokogiri -v`?

[2022-01-22 17:42] flavorjones commented on #125
OK, I think what you're seeing is Nokogiri compiled against the system libxml2 which is likely based on 2.9.10 and hasn't applied this patch yet: https://bugzilla.gnome.org/show_bug.cgi?id=769760 which is fixed by https://gitlab.gnome.org/GNOME/libxml2/-/commit/c1ba6f5 and reverts https://gitlab.gnome.org/GNOME/libxml2/-/commit/960f0e275616cadc29671a218d7fb9b69eb35588

Nokogiri has patched that fi

[2022-01-22 17:42] #125 closed

[2022-01-22 22:31] Segaja commented on #125
@flavorjones I'm sorry to say I can't confirm your asumption. Archlinux is using libxml 2.9.12 ( https://archlinux.org/packages/extra/x86_64/libxml2/ ). I tried to rebuild the packages in the dependency chain between libxml2 and ruby-rails-html-sanitizer but the error persist:

Here are some debug information:

`ruby -v`:
[code]

`bundle show`:
[code]

`nokogiri -v`:
[code]

`rake test`:
[code]

A

[2022-01-23 20:19] flavorjones commented on #125
#126 fixes this on `master`

[2022-01-23 20:30] Segaja commented on #125
I can confirm that #126 fixes the issues. Also I still don't believe that arch runs with an unpatched libxml2. For now I will add these changes as patch to the build.

Is there any plan to release a new version any time soon to get this change into a release?

[2022-01-24 12:56] flavorjones commented on #125
I am not planning to make a release because tests were updated.

[2022-01-24 12:58] flavorjones commented on #125
Also, to be clear, the patch in question has not been accepted upstream, it's something Nokogiri chooses to patch around.

[2022-02-21 23:58] flavorjones opened #127 "Explore test failures with nokogiri v1.13.2"
I kicked off https://github.com/rails/rails-html-sanitizer/actions/runs/1878847047 to demonstrate that nokogiri v1.13.2 broke HTML4 parser recovery during sanitization.

Once the next nokogiri version is released to fix this, I'll kick CI again to make sure it's green, and then close this issue.

[2022-02-22 05:02] flavorjones commented on #127
Confirmed CI is green at https://github.com/rails/rails-html-sanitizer/actions/runs/1879722710 with nokogiri v1.13.3. Closing.

[2022-02-22 05:02] #127 closed

[2022-04-09 15:52] flavorjones commented on #124
Sorry I've taken so long to respond - I've queued this up for a closer look this weekend.

[2022-05-20 18:29] CarlosCD opened #130 "Change in behavior caused by Nokogiri 1.13.5"
I was trying to strip tags, and anything that could be used to build an HTML tags from data entered in a Rails application, and had a few tests related to this... It seems that changes in Nokogiri 1.13.5 have modified the Rails::Html::FullSanitizer behavior (probably a change in libxml2 to 1.9.13 - see Loofah issue below).

The difference seems to be whether some blank characters are used inside <

[2022-05-20 19:52] flavorjones commented on #130
Hi, @CarlosCD, and thanks for opening this issue.

You're right, the update to libxml 2.9.14 did change this behavior, and because the whole stack of Nokogiri → Loofah → Rails::Html::Sanitizer wraps libxml2, there's nothing we can easily do to change this behavior.

I updated the RHS tests in https://github.com/rails/rails-html-sanitizer/pull/129, if you want to take a look and validate your menta

[2022-05-20 19:52] #130 closed

[2022-05-23 14:14] CarlosCD commented on #130
Thanks @flavorjones,  it is indeed very helpful. Thank you so much for writing back and pointing to those tests, and for your work in this project.

[2022-05-29 15:31] flavorjones commented on #124
Sorry for the delay. Let me explain my mental models to help readers understand how I'm making the decision about this behavior.

Here's a quick demonstration of the difference between _plain text serialization_ and _html-safe plain text serialization_:

[code]

The vulnerability that we're avoiding by using `Loofah::DocumentFragment#text` instead of `Nokogiri::XML::Node#content` is demonstrated h

[2022-05-29 15:32] flavorjones commented on #124
I'll work on fixing this for an upcoming release.

[2022-05-30 15:23] flavorjones commented on #124
See https://github.com/rails/rails/pull/45218 for a PR that fixes this behavior.

[2022-05-31 14:25] #124 closed

[2022-05-31 16:46] flavorjones commented on #124
Note that the rails PR is being backported to 7-0-stable. Thanks again for pointing this out!

[2022-06-08 12:01] goromlagche opened #135 "xss vulnerability in data URI"
Currently in the scrub_attribute method, there is divergence between the code present in loofah
https://github.com/flavorjones/loofah/blob/main/lib/loofah/html5/scrub.rb#L38-L61

vs how it is handle in the PermitScrubber class
https://github.com/rails/rails-html-sanitizer/blob/master/lib/rails/html/scrubbers.rb#L142-L154

The section around safe data uri is missing

Because of this, a base64 encod

[2022-06-21 16:52] mm580486 opened #140 "allow script tag"
Hi in your DC i cant find anything about javascript tag or etc like that i used grape and your gem but script tag remove after render
`            full_sanitizer.sanitize(ERB.new(raw).result(binding),tags: %w( form  comment blockquote ))`

[2022-06-21 17:06] flavorjones commented on #140
Hi, by default `script` tags are removed by this gem because the goal is to sanitize untrusted HTML.

You can override the set of disallowed tags if you wish, but allowing `script` tags to remain in untrusted HTML is not safe, you shouldn't do it, and this gem may not solve the problem you think you're solving.

If you want to ask some more specific questions I'd be happy to try to answer, but in

[2022-06-21 17:06] #140 closed

[2022-07-12 00:51] archonic opened #141 "WhiteListSanitizer is sanitizing some contents of allowed attribute"
I noticed that the WhiteListSanitizer is not allowing `hsl(...)` in the value portion of an allowed attribute.
[code]

It will allow `style="background-color:hsl(0, 0%, 90%)"` but not if hsl comes after other items in the value.

[2022-07-12 02:03] flavorjones commented on #141
@archonic This is working for me with current versions of RHS, Loofah, and Nokogiri:

[code]

outputs

[code]

`hsl` started to be allowed by Loofah 2.3.0, is it possible you're using a version that's older than that?

[2022-07-12 04:47] archonic commented on #141
I'm was on Loofah 2.3.1 and upgraded to 2.18 and it's now behaving as expected. Thank you! 🎉

[2022-07-12 04:47] #141 closed

[2022-08-08 17:06] mayesgr opened #142 "Calling "Rails::Html::SafeListSanitizer.new(prune: true)" results in "ArgumentError (unknown keyword: :prune)""
Hi there and thanks for your contributions to open source, Rails, and security!

Am I doing something wrong? I'm following the documentation in the README and when I try to instantiate a new SafeListSanitizer or TargetScrubber object with "prune: true" I get an ArgumentError:

[code]

[2022-08-09 02:37] flavorjones commented on #142
Hi @mayesgr, sorry for the confusion here. This feature isn't in a release yet -- see https://github.com/rails/rails-html-sanitizer/blob/master/CHANGELOG.md for that information.

I'll try to cut a release this week with this feature in it.

[2022-08-17 15:13] flavorjones commented on #142
This is delayed a bit while I validate and triage a vulnerability report. Thanks for your patience.

[2022-10-04 09:21] jalada commented on #142
Hey @flavorjones any sign of that release? We lost some time to the fact that the README is updated but the release is not. No worries if it's still stalled, but perhaps revert the changes to the README to avoid confusion for others?

[2022-10-05 18:12] flavorjones commented on #142
@jalada Thanks for the poke. I've been delaying because there's a security release that's close to shipping and I want to get that out before a feature release. If it doesn't come together in the next few days I'll ship the feature release.

[2022-10-19 20:18] flavorjones commented on #142
Security release is getting closer, apologies again for delaying this feature release.

[2022-10-31 14:39] sobrinho opened #144 "Loading order is causing issues"
This works:

[code]

This doesn't:

[code]

In a real world app, sidekiq loads the files in the correct order but when using sidekiqswarm it doesn't.

Although, I don't see anything special with sidekiqswarm other than its forking machinery there.

Is this something we can fix here?

The current workaround is to require the action view in a initializer to make sure it loaded:

[code]

The problem

[2022-10-31 18:57] flavorjones commented on #144
Thanks for reporting this, and sorry you're having problems. I'll take a look shortly and try to reproduce what you're seeing.

[2022-11-01 12:28] flavorjones commented on #144
@sobrinho I'd like to make sure that I'm seeing the same thing you're seeing. This is my repro script:

[code]

which results in:

[code]

but if I comment out `require "rails-html-sanitizer"` then I see the sanitized string "hello".

Have I reproduced what you're seeing?

[2022-11-01 12:35] flavorjones commented on #144
I think your analysis is correct: when `rails-html-sanitizer` is loaded first, it defines the module which means the actual helper does not get autoloaded.

You shouldn't need to explicitly `require "rails-html-sanitizer"`, but I'm not entirely sure of the context in which you're operating. As a workaround, can you try removing that explicit `require`?

[2022-11-01 12:57] imahungrypanda commented on #144
@flavorjones
That is the error we are facing too. Our app is never explicitly requiring `rails-html-sanitizer`.

Our current work around is that we created an initializer for action view with `require "action_view/helpers/sanitize_helper"`

[2022-11-01 13:23] flavorjones commented on #144
OK. Regardless, this method of monkeypatching core classes is problematic. I'll reach out to Rails core and ask them if there is a "right" way to do this.

It might be interesting to investigate why `rails-html-sanitizer` is being loaded before the SanitizeHelper, if you get a few minutes to `puts` some backtrace it might be illuminating, because clearly something _else_ is going wrong besides the

[2022-11-01 20:18] flavorjones commented on #144
After a brief chat, it seems like the right decision is to move these methods upstream into Actionview. I'll take care of that.

[2022-11-02 19:24] flavorjones commented on #144
@rafaelfranca It looks like commit 2dbd320 (and https://github.com/rails/rails/commit/67b42cb) moved these methods out of ActionView and into this gem. Can you help me understand why they were originally moved here?

[2022-11-14 20:21] rafaelfranca commented on #144
hmmm, let me try to remember. I think I had the impression that we might want to change implementation later on and not have specific behavior of this gem in Action View. I think we can move it back.